
.navbar {
	overflow: hidden;
	height: 115px;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	background-color: red;
}

.dropdown {
	float: left;
	overflow: hidden;
  }

.dropdown .dropbtn {
	font: "Wilder", sans serif;
	font-size: 14px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdown:hover .grainesbtn {
	background-color: blue;
}
.breadcrumb
{
	font-size: 14px;
	color: #898989;
	margin-left: 6.23vw;
	margin-top: 25px;
	margin-bottom: 25px;
}

.main_title{
	font-family: 'wilderregular';
	font-size: 25px;
	margin-left: 6.23vw;
}

.main_product_pic{
	margin-left: 6.23vw;
	border-radius: 50px;
	width: 33vw;
	height: 33vw;
	box-shadow: 3px 3px 6px #ccc;
}

.notes{
	width: 87px;
	height: 18px;
	margin-top: -20px;
	margin-left: 6.23vw;
	font-size: 10px;
}

@font-face {
    font-family: 'wilderregular';
    src: url('fonts/wilder-webfont.woff') format('woff'),
		 url('fonts/wilder-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}